*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.divheader{
    display: flex;
    margin: 14px;
    gap: 40px;
    margin-bottom: 4px;
}
.divheader a{
    text-decoration: none;
    color: #555050dc;
}
.info{
    margin-right: auto;
    font-size: large;
}
/* .iconeheader{
    margin-bottom: 2px;
} */
nav a{
    text-decoration: none;
}
nav {
   margin-top: 15px;
}


.global{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    
}
.element{
    display: flex;
    gap: 30px;
    
}
.element .a1{
    font-size: 20px;
    color: #011C40;
    font-weight: 600;
}
.a1:hover{
   color:  #54ACBF;
   text-decoration: underline 4px;
}
.section{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 3px solid #00000059;
    width: 10%;
    border-radius: 5px;
    min-width: 120px;
    display: none;
}
.section a{
    display: block;
    color: black;
    padding: 6px;
    font-size: large;
    font-family: sans-serif;
    text-decoration: none;
}
.section a:hover{
    background-color:#a7eaf26e;
}
/* .pages{
    position: relative;
    display: inline-block;
} */
.pages:hover .section{
    display: block;
}
.logo{
    color: #54ACBF;
    font-size: 40px;
    font-weight: 700;
}
.Home{
    position: relative;
    background-image: url(img1.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:500px;
    width: 100%;
    margin-top: 12px;
    overflow: hidden;
}
.Home::before{
    content:"";
    inset: 0;
    position: absolute;
    background: inherit;
    filter: blur(7px);
    z-index: 1;
}
img{
    width: 800px;
    position: absolute;
    z-index:2;
    left: 85%;
    top: 50%;
    transform: translate(-50% ,-50%);
    /* translate: 800px 13px; */
    display: block;
}
.title{
    display: flex;
    flex-direction: column;
    margin: 120px;
    width: 500px;
    gap: 40px;
    position: relative;
    z-index:2;
}
h4{
    text-transform: uppercase;
    color: #31bedd;
    font-size: x-large;
    font-weight: 700;
}
h1{
    text-transform:capitalize;
    color: #fff;
    font-size: 50px;
}
.btn{
    border: none;
    display: flex;
    gap: 40px;
}
.btn1{
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid #302e2ea8;
}
.btn2{
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn2:hover{
    background-color: #fff;
    color: #000;
}
.btn1:hover{
    border: none;
}
